@model ContactForm

<div>
    <h4>Details - ContactForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer["Name"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @SharedLocalizer["Email"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @SharedLocalizer["Message"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>